= calendar_date_select_includes "blue"
= javascript_include_tag("questionnaire")
- form_for [:admin, @questionnaire] do |f|
  = render_region :form_top
  .questionnaire-form-area
    - render_region :form do |form|
      - form.edit_title do
        %h2.title
          = @questionnaire.questionnaire_contents.first.title
      - form.edit_content do
        %p.content
          %label Startdate
          = calendar_date_select :questionnaire, :startdate
        %p.content
          %label Enddate
          = calendar_date_select :questionnaire, :enddate
        %p.content
          %label Anonymous
          = check_box_tag :questionnaire, :anonymous
        -if @questionnaire.new_record?
          - q_content = @questionnaire.questionnaire_contents.first
        -else
          - q_content = @questionnaire.questionnaire_contents.find_by_language(params[:language])
        - fields_for "questionnaire[questionnaire_contents_attributes][]", q_content do |child_form|
          - unless q_content.new_record?
            = child_form.hidden_field :id, :index => nil
          %p{:class=>'content title'}
            %label Title
            = child_form.text_field :title, :maxlength => 255, :index => nil
          %p.content
            %label Description
            = child_form.text_area :description, :index => nil
          %p.content
            %label Language
            = child_form.text_field :language, :maxlength => 2, :index => nil
          %p.content
            %h2 Questions
            #questions
              = render :partial => 'question', :collection => q_content.questionnaire_questions, :locals => { :qc_id => q_content.id }
              #add-question
                = link_to_function "Add Question" do |page|
                  - page.insert_html :bottom, :questions, :partial => 'question', :object => QuestionnaireQuestion.new, :locals => { :qc_id => q_content.id }
                  - page << "newQuestion = $('questions').childElements().last().childElements().last().childElements().last();"
                  - page << "if( $('answers-new-0') != null) { $('answers-new-0').id = 'answer-' + newQuestionCounter;"
                  - page << "newQuestion.writeAttribute('onClick',newQuestion.readAttribute('onClick').sub('answers-new-0', 'answer-' + newQuestionCounter));"
                  - page << "$('questions').childElements().last().childElements().first().childElements()[1].writeAttribute('value', newQuestionCounter);"
                  - page << "newQuestionCounter++;"
                  - page << "var addQuestion = $('add-question'); $('add-question').remove(); $('questions').insert(addQuestion); }"
  - render_region :form_bottom do |form_bottom|
    - form_bottom.edit_buttons do
      %p.buttons
        = save_model_button(@questionnaire)
        = save_model_and_continue_editing_button(@questionnaire)
        or
        = link_to 'Cancel', admin_questionnaires_url
